<div class="col-md-6 offset-md-3">
  <div class="card post">
    <div class="card-block">
    <div class="post-header">
      <h1>{{post.name + post.postId}} <span class="float-right date">{{post.date}}</span></h1>
    </div>
    <div class="post-detail">
      <p>{{post.details}}</p>
    </div>
    </div>
    <div class="card-footer">
    <div class="post-footer">
      <p class="post-likes">{{post.like}}</p>
      <hr>
      <div class="post-comment" *ngFor="let comment of this.comments">
        {{comment.details}}

      </div>
      <textarea class="form-control" rows="3" [(ngModel)]="newComment.details"></textarea>
      <button (click)="submitComment()" >Submit Comment</button>
    </div>
    </div>
  </div>
</div>
